.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: #135677;
    text-decoration: none;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
}

h1{
  color:rgb(19, 86, 119);
  font-family:"Open Sans", HelveticaNeue, "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: 700;
}
h2{
  color:rgb(19, 86, 119);
  font-family:"Open Sans", HelveticaNeue, "Helvetica Neue", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
h3{
  color:rgb(19, 86, 119);
  font-family:"Open Sans", HelveticaNeue, "Helvetica Neue", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
p{
  color:rgb(19, 86, 119);
  font-family:"Open Sans", HelveticaNeue, "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#gradient {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 100vw 0 0;
  border-color: #FFEDDF #FFF transparent transparent;
  transform: scale(1.0001);
}

/* #gradient2 {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 90px 100vw 0 0;
  border-color: rgb(73, 185, 211) #FFEDDF transparent transparent;
  transform: scale(1.0001);
} */